/************** Body & Wrapper **************/

html, body {
  max-width: 100%;
}

body {
  background-color: $white;
}

.panel {
  @include grid(center, center);
  opacity: 0;
  position: fixed;
  z-index: 90;
  width: 100vw;
  height: 100vh;
  @include transition(all 666ms linear);

  &.is-active {
    z-index: 99;
    opacity: 1;
  }
}

a, a:visited, a:link,
a:hover, a:focus, a:active {
  text-decoration: none;
}

.pane {
  position: fixed;
  background-color: $black;
  color: $white;
  padding: 2rem 2rem 0 2rem;
  @include linkColor($green);

  a {
    text-decoration: underline;
  }
}

/************** Spinner **************/
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

$spinnerSize: 66.6vh;

#spinner {
  @include transition(all 3.33s cubic-bezier(0.19, 1, 0.22, 1));
  opacity: 0;
  position: fixed;
  z-index: 2;
  top: calc(50vh - #{$spinnerSize/2});
  right: auto;
  bottom: auto;
  left: calc(50vw - #{$spinnerSize/2});
  display: block;
  height: $spinnerSize;
  width: $spinnerSize;


  img {
    display: block;
    height: 100%;
    width: 100%;
    animation: rotate 166.6s linear infinite;
  }
}

body.is-loaded #spinner {
  opacity: 1;
}

$responsiveNavheight: 5rem;

@media (max-width: 1200px) {
  .panel {
    display: block;
    padding: 2rem 2rem #{$responsiveNavheight + 6rem} 2rem;
    width: 100%;
    min-height: 100%;
    overflow: auto;
  }

  .pane {
    position: static;
  }
}

@media (max-width: 420px) {
  .panel {
    padding: 2rem 1rem #{$responsiveNavheight + 4rem} 1rem;
  }

  .pane {
    padding: 1rem;
  }
}
