.active-works #spinner {
  left: 73%;
  top: 58%;
  width: 20vw;
  height: 20vw;
}

.content-works.is-active {
  #logo-works {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 1s;
  }

  #works-nav {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 3s;
  }

  .work-single.is-active .works-image {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 1.5s;
  }

  .work-single.is-active .works-text {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 2.25s;
  }
}

.works-nav-active .content-works.is-active {
  .work-single.is-active .works-image,
  .work-single.is-active .works-text {
    transition-delay: 0s;
  }
}

.logo-works-wrap {
  position: fixed;
  top: 70%;
  right: 11%;
  width: 12vw;
  height: 12vw;
}

#logo-works {
  opacity: 0;
  transform: translateY(-6rem);
  @include transition(all 1.666s cubic-bezier(0.175, 0.885, 0.32, 1.275));
}

#works-nav {
  @include grid();
  opacity: 0;
  position: fixed;
  z-index: 5;
  top: 12vh;
  right: 30vw;
  transform: translateY(6rem);
  @include transition(all 1.666s cubic-bezier(0.175, 0.885, 0.32, 1.275));
}

.works-nav-button {
  display: block;
  cursor: hand;
  cursor: pointer;
  appearance: none;
  background-color: $black;
  border: none;
  margin: 0;
  outline: none;
  padding: 0.5em 1em;
  line-height: 1;
  text-transform: uppercase;
  font-family: $font-deco;
  font-size: 1rem;
  color: $yellow;
  @include transition(all 333ms ease-in-out);
  transform-origin: right;

  &:hover, &:focus, &:active {
    color: $green;
    outline: none;
    border: none;
  }
}

.work-single {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  opacity: 0;
  @include transition(all 1.5s ease-in-out);

  &.is-active {
    opacity: 1;
    z-index: 3;
  }
}

.works-image {
  opacity: 0;
  width: 65%;
  height: 75vh;
  top: 15vh;
  left: 5%;
  padding-bottom: 3rem;
  transform: translateX(-6rem);
  @include transition(all 1.666s cubic-bezier(0.175, 0.885, 0.32, 1.275));
}

.works-text {
  opacity: 0;
  width: 22.5%;
  height: 55%;
  top: 10vh;
  left: 72.5%;
  transform: translateY(-6rem);
  @include transition(all 1.666s cubic-bezier(0.175, 0.885, 0.32, 1.275));
}

.work-slideshow {
  position: relative;
  height: 100%;
  width: 100%;
}

.work-slideshow-inner {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 6;
  opacity: 0;
  height: 100%;
  width: 100%;
  @include transition(all 750ms ease-in-out);

  &.is-active {
    opacity: 1;
    z-index: 7;
  }
}

.work-slideshow-photo {
  height: 60vh;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.work-slideshow-caption {
  background-color: transparentize($black, 0.1);
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  margin: 1rem 0;
  padding: 1rem;
}

.work-slideshow-dots {
  position: absolute;
  bottom: -2rem;
  width: 100%;
  z-index: 8;
  @include listStripped();
  @include grid(center, center);

  li {
    cursor: hand;
    cursor: pointer;
    display: block;
    width: 0.85rem;
    height: 0.85rem;
    margin: 0.5rem;
    border-radius: 50%;
    background-color: $yellow;
    @include transition(all 333ms linear);

    &:hover {
      background-color: $yellow-pale;
    }

    &.is-active {
      background-color: $green;
    }

    &.work-slide-arrow {
      background-color: transparent;
      width: 4rem;
      transform-origin: center;
      margin: 0;

      svg {
        width: 2rem;
        height: auto;
        fill: $yellow;
        @include transition(all 333ms linear);

      }

      &:hover svg,
      &:focus svg,
      &:active svg {
        fill: $green;
      }

      &[data-way="prev"] {
        transform: rotate(180deg);
      }

      &[data-way="next"] {
        transform: translateY(2px);
      }
    }
  }

  span {
    display: none;
  }
}



@media (max-width: 1200px) {
  body.is-loaded .active-works #spinner {
    opacity: 0;
  }

  .content-works.is-active #logo-works {
    transition-delay: 250ms;
  }

  .logo-works-wrap {
    position: static;
    width: 60vw;
    height: auto;
    margin: 0 auto;
  }

  #logo-works {
    width: 60vw;
    height: auto;
  }

  .content-works {
    padding-bottom: #{$responsiveNavheight + 2rem};
  }

  .content-works.is-active #works-nav {
    transition-delay: 1s;
  }

  #works-nav {
    @include grid(center, center);
    position: static;
    margin-top: 2rem;
  }

  .work-single {
    top: initial;
    left: 2rem;
    width: calc(100% - 4rem);
    height: auto;
    margin-top: 6rem;
  }

  .works-image {
    width: 100%;
    height: auto;
  }

  .work-slideshow {
    height: 56.25vw;
  }

  .work-slideshow-inner {
    height: 56.25vw;
  }

  .work-slideshow-photo {
    height: 50vw;
  }

  .works-text {
    width: 100%;
    height: auto;
    padding-bottom: 2rem;
    margin-bottom: #{$responsiveNavheight + 2rem};
  }
}

@media (max-width: 420px) {
  .content-works {
    padding-bottom: $responsiveNavheight;
  }

  .work-single {
    margin-top: 3rem;
    width: calc(100% - 2rem);
    left: 1rem;
  }

  .work-slideshow-dots li.work-slide-nav {
    width: 0.25rem;
    height: 0.25rem;
    margin: 0.5rem 0.25rem;
  }

  .work-slideshow-caption p {
    display: none;
  }
}
