.active-the-record #spinner {
  left: 7.5%;
  top: 5%;
  width: 40vw;
  height: 40vw;
}

.content-about.is-active {
  #logo-record {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 1s;
  }

  .record-answers {
    opacity: 1;
    transform: translate(0, -50%);
    transition-delay: 1.5s;
  }
}

.logo-record-wrap {
  position: fixed;
  width: 40%;
  left: 7.5%;
}

#logo-record {
  opacity: 0;
  display: block;
  margin: 0 auto;
  height: 85vh;
  transform: translateY(-6rem);
  @include transition(all 1.666s cubic-bezier(0.175, 0.885, 0.32, 1.275));
}

.record-answers {
  width: 40%;
  right: 7.5%;
  top: calc(50% + 1.75rem);
  transform: translate(6rem, -50%);
  padding-bottom: 1rem;
  opacity: 0;
  @include transition(all 666ms ease-in-out);
}

@media (max-width: 1200px) {
  body.is-loaded .active-the-record #spinner {
    opacity: 0;
  }

  .logo-record-wrap {
    position: static;
    height: 75vh;
    width: auto;
  }

  #logo-record {
    width: auto;
    height: 75vh;
  }

  .record-answers {
    width: 100%;
    transform: translateY(0);
  }

  .content-about.is-active .record-answers {
    transform: translateY(4rem);
  }
}

@media (max-width: 420px) {
  .logo-record-wrap {
    height: 60vh;
  }

  #logo-record {
    height: 60vh;
  }
}
